<!-- views/partials/footer.ejs -->
<br><br><br>
<footer align="center" class="footer" style="background-color: thistle; font-size: 20px;">
    <br>
    <p>© 2020 El sitio de <b>Sandra Aguayo</b></p>
    <!--<i id="twitter" class="fab fa-twitter"></i>
    <a class="twitter-follow-button" target="_blank" href="https://twitter.com">
        Twitter</a>-->
    <div>
        <a id="mensajeT" href="https://twitter.com/messages/compose?recipient_id=1066285759970168832"
            class="twitter-dm-button" data-size="large" data-text="Hola!" data-screen-name="@Sandranoan">
            Enviar mensaje @Sandranoan</a>
    </div>
    <br>
</footer>