<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A cerca de SNAN</title>
    <%- include('partials/head'); %>
</head>
<style>
    body{
        line-height: 1.5;
        background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple);
    }
    #c{
        border: 5px;
        padding: 20px;
        border-style: dotted solid double dashed ;
        border-color:  lightgreen rgb(222, 172, 255) lightpink palevioletred ;
    }
</style>
<body>
    <%- include('partials/navbar'); %>
    <div class="jumbotron">
        <h1 class="display-4">Acerca de mí</h1>
        <h2>Mi nombre es <strong style="color:dimgray; font-weight: lighter;">Sandra Nohelia Aguayo Nuñez</strong></h2>
        <hr class="my-4">
        <p><img src="../images/utng.png" width=50px height=50px align="left">Estudio en la Universidad Tecnológica del Norte de Guanajuato</p>
        <br>
        <p><img src="../images/dds.jpg" width=50px height=50px align="left">En la carrera de Desarrollo de Software en el Área de Tecnologías de la información</p>
        <br><hr style="color:teal;"><br>
        <div id="c">
            <p><strong>Mis pasatiempos favoritos son: </strong></p>
            <ul>
                <li>Escuchar música</li>
                <li>Ver películas</li>
            </ul>
        </div>
        <br><hr><br>
        <div>
            <a id="mensajeT" href="https://twitter.com/messages/compose?recipient_id=1066285759970168832"
            class="twitter-dm-button" data-size="large" data-text="Hola!" data-screen-name="@Sandranoan">
            Enviar mensaje @Sandranoan</a>
          </div>
      </div>
 
      <%- include('partials/script'); %>
      <%- include('partials/footer'); %>
</body>
</html>
