<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A cerca de SNAN</title>
    <%- include('head'); %>
</head>
<body>
    <%- include('navbar'); %>
    <div class="jumbotron" id="yoback">
        <div id="a">
        <h1 class="display-4">Acerca de mí</h1>
        <h2>Mi nombre es <strong style="color:dimgray; font-weight: lighter;">Sandra Nohelia Aguayo Nuñez</strong></h2>
    </div>
    <hr class="my-4" style="background:pink; height: 2px;">
    <div id="b">
        <p><img src="../images/utng.png" width=50px height=50px align="left">Estudio en la Universidad Tecnológica del Norte de Guanajuato</p>
        <br>
        <p><img src="../images/dds.jpg" width=50px height=50px align="left">En la carrera de Desarrollo de Software en el Área de Tecnologías de la información</p>
    </div>
        <br><hr style="background:rgb(182, 211, 255); height: 2px;"><br>
        <div id="c">
            <p><strong>Mis pasatiempos favoritos son: </strong></p>
            <ul>
                <li>Escuchar música</li>
                <li>Ver películas</li>
            </ul>
        </div>
    </div>
    
      <%- include('script'); %>
      <%- include('footer'); %>
</body>
</html>
