<!DOCTYPE html>
<html lang="es">

<head>
  <title>Home</title>
  <%- include('partials/head'); %>
</head>

<body>
  <br>
  <%- include('partials/navbar'); %>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido(a) a mi sitio</h1>
    <p class="lead">Mi nombre es Sandra Aguayo</p>
    <br><br>
    <hr class="my-4">
    <div class="container">
      <div id="slider">
        <div><img src="./images/img1.jpg"></div>
        <div><img src="./images/img2.jpg"></div>
        <div><img src="./images/img3.jpg"></div>
        <div><img src="./images/img4.jpg"></div>
        <div><img src="./images/img5.jpg"></div>
        <div><img src="./images/img6.jpg"></div>
      </div>
    </div>
  </div>
  <%- include('partials/script'); %>
  <%- include('partials/footer'); %>
  </div>
  <script>
    $(function(){
    $('#slider div:gt(0)').hide();
    setInterval(function(){
        $('#slider div:first-child').fadeOut(1000)
        .next('div').fadeIn(1000)
        .end().appendTo('#slider');
    },4000);
})
  </script>
</body>

</html>