<!DOCTYPE html>
<html lang="es">

<head>
  <title>Home</title>
  <%- include('partials/head'); %>
</head>

<body>
  <br>
  <%- include('partials/navbaruser'); %>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido(a) a mi sitio</h1>
    <p class="lead">Mi nombre es Sandra Aguayo</p>
    <br><br>
    <div>
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-047d2e87-929a-488a-aef4-295d12f04c56"></div>
    </div>
    <hr class="my-4">
    <div class="container">
      <div id="slider">
        <div><img src="./images/img1.jpg"></div>
        <div><img src="./images/img2.jpg"></div>
        <div><img src="./images/img3.jpg"></div>
        <div><img src="./images/img4.jpg"></div>
        <div><img src="./images/img5.jpg"></div>
        <div><img src="./images/img6.jpg"></div>
      </div>
    </div>
  </div>
  <%- include('partials/script'); %>
  <%- include('partials/footer'); %>
  </div>
</body>

</html>
