<!DOCTYPE html>
<html lang="es">

<head>
  <title>Home</title>
  <%- include('partials/head'); %>
</head>

<body>
  <br>
  <%- include('partials/navbar'); %>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido(a) a mi sitio</h1>
    <p class="lead">Mi nombre es Sandra Aguayo</p>
    <br><br>
    <hr class="my-4">
    <div class="container">
      <div id="slider">
        <div><img src="./images/n1.jpg"></div>
        <div><img src="./images/n2.jpg"></div>
        <div><img src="./images/n3.jpg"></div>
        <div><img src="./images/n4.jpg"></div>
        <div><img src="./images/n5.jpg"></div>
        <div><img src="./images/n6.jpg"></div>
        <div><img src="./images/n7.jpg"></div>
        <div><img src="./images/n8.jpg"></div>
        <div><img src="./images/n9.jpg"></div>
        <div><img src="./images/n10.jpg"></div>
      </div>
    </div>
  </div>
  <%- include('partials/script'); %>
  <%- include('partials/footer'); %>
  </div>
</body>

</html>