<!DOCTYPE html>
<html lang="es">

<head>
  <title>Home</title>
  <%- include('partials/head'); %>
  <!--<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = 'lYrP4vF3Uk5zgTiGGuEzQGwGIVDGuy24';

        var map = L.mapquest.map('map', {
          center: [21.1574, -100.934618],
          layers: L.mapquest.tileLayer('map'),
          zoom: 12
          });
          
          map.addControl(L.mapquest.control());
          }
          </script>-->

</head>

<body>
  <br>
  <%- include('partials/navbar'); %>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido(a) a mi sitio</h1>
    <p class="lead">Mi nombre es Sandra Aguayo</p>
    <br><br>
    <div>
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-047d2e87-929a-488a-aef4-295d12f04c56"></div>
    </div>
    <hr class="my-4">
    <div class="container">
      <div id="slider">
        <div><img src="./images/img1.jpg"></div>
        <div><img src="./images/img2.jpg"></div>
        <div><img src="./images/img3.jpg"></div>
        <div><img src="./images/img4.jpg"></div>
        <div><img src="./images/img5.jpg"></div>
        <div><img src="./images/img6.jpg"></div>
      </div>
    </div>
  </div>

  <!--<p>Mi primer sitio básico con Express.</p>
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->


  <%- include('partials/script'); %>
  <%- include('partials/footer'); %>
  </div>
</body>

</html>