<!DOCTYPE html>
<html lang="es">

<head>
    <title>Home</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <br>
    <%- include('../partials/navbar'); %>
    <div class="jumbotron">
        <h1 class="display-4">E-commerce</h1>
        <p class="lead">Productos a tu disposición</p>
        <p>Compra artículos</p>
        <hr class="my-4" style="background:rgb(212, 212, 212);">

        <div class="row">

            <div class="col-2">
                <div class="container" id="producto1">
                    <div class="col-sm-6 mx-auto">
                        <div class="card mt-5">
                            <div class="card-body">
                                <img src="..\images\products\GuayabaAmarilla.jpg" width="160" height="150">
                                <hr>
                                <p>1kg de Guayabas</p>
                                <p>Precio: $15.00</p>
                                <p style="color: gray;"><small>Pagas por comisión $0.52+IVA</small></p>
                                <script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
                                    data-preference-id="666089336-4b00d523-d439-44c0-a18b-4f28818f37e1">
                                    </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="container" id="producto2">
                    <div class="col-sm-6 mx-auto">
                        <div class="card mt-5">
                            <div class="card-body">
                                <img src="..\images\products\ManzanaVerde.jpg" width="160" height="150">
                                <hr>
                                <p>1kg de Manzana Verde</p>
                                <p>Precio: $30.00</p>
                                <p style="color: gray;"><small>Pagas por comisión $1.05+IVA</small></p>
                                <script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
                                    data-preference-id="666089336-16068faf-6ae7-4316-8d7d-6b3292607afa">
                                    </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="container" id="producto3">
                    <div class="col-sm-6 mx-auto">
                        <div class="card mt-5">
                            <div class="card-body">
                                <img src="..\images\products\Fresas.jpg" width="160" height="150">
                                <hr>
                                <p>1kg de Fresas</p>
                                <p>Precio: $60.00</p>
                                <p style="color: gray;"><small>Pagas por comisión $2.09+IVA</small></p>
                                <script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
                                    data-preference-id="666089336-16068faf-6ae7-4316-8d7d-6b3292607afa">
                                    </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-2">
                <div class="container" id="producto4">
                    <div class="col-sm-6 mx-auto">
                        <div class="card mt-5">
                            <div class="card-body">
                                <img src="..\images\products\Durazno.jpg" width="160" height="150">
                                <hr>
                                <p>1kg de Durazno</p>
                                <p>Precio: $50.00</p>
                                <p style="color: gray;"><small>Pagas por comisión $1.75+IVA</small></p>
                                <script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
                                    data-preference-id="666089336-2bad8f3c-9278-4fdc-a91d-bedab5508267">
                                    </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br><br>

        <hr class="my-4" style="background:rgb(212, 212, 212);">

        <br><br><br>
        <div align="center">
            <h5><i>Realizar donación</i></h5>
            <br>
            <a href="https://www.paypal.com/donate?hosted_button_id=M4BJ3QH6P54H8">
                <img src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
                    title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            </a>
        </div>


    </div>

    <%- include('../partials/script'); %>
    <%- include('../partials/footer'); %>

</body>

</html>