<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iniciar Sesión</title>
  </head>
  <body class="login" id="loginback">
    <%- include('../partials/navbar'); %>
    <div class="container">
    <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
            <div class="card-body">
                <!-- messages -->
                <h1 class="text-center">
                    <span class="fa fa-user">&nbsp;&nbsp;</span>Inicio de Sesión Incorrecto</h1>
                <hr>
                <br>
                <!-- form -->
                <p align="center"><big>Error al iniciar sesión</big></p>
                <div align="center">
                    <a href="login">
                        <input type="submit" class="btn btn-dark btn-lg" value="Iniciar sesión"></a>
                </div>
            <br>
            <hr>
            <div class="text-center">
              <p>¿No tienes una cuenta? <a href="/signup">Registrate</a></p>
              <p>O ve a la <a href="/">Página principal</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </body>
</html>