<!DOCTYPE html>
<html lang="es">

<head>
    <title>Home</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <br>
    <%- include('../partials/navbaruser'); %>
    <div class="jumbotron" id="streamingback">
        <h1 class="display-4">Streaming</h1>
        <p class="lead">Música y Videos</p>
        <p>Escucha música y mira videos en las plataformas de streaming</p>
        <hr class="my-4" style="background:whitesmoke;">
        <!--Busqueda de videos mas virales
        <div align="center">
            <h1>Youtube</h1>
            <p class="lead">Busca los 10 videos más vistos de un título</p>

            <div class="col-md-6 col-md-offset-3">
                <form action="#" id="formYT">
                    <p><input type="text" id="search" placeholder="Introduce un titulo" autocomplete="off"
                            class="form-control" /></p>
                    <p><input type="submit" id="searchTitle" value="Search" class="form-control btn btn-danger w100">
                    </p>
                </form>
                <div id="results"></div>
            </div>
        </div>-->

        <div align="center">
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-df07cf7f-416f-4d67-996b-ee8d595e1b54"></div>
        </div>

        <br><br>
        <hr class="my-4" style="background:whitesmoke;">

        <!--Playlist Spotify-->
        <div align="center">
            <h1>Spotify</h1>
            <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWZd79rJ6a7lp" width="800" height="380"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <br><br>
            <hr class="my-4" style="background:whitesmoke;">
        <!--Playlist DailyMotion-->
        <div align="center">
            <h1>DailyMotion</h1>
                <div id="player"></div>
        </div>
    </div>

    <%- include('../partials/script'); %>
    <%- include('../partials/footer'); %>

</body>

</html>