<!DOCTYPE html>
<html lang="es">

<head>
  <title>Home</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <br>
  <%- include('../partials/navbar'); %>
  <div class="jumbotron" id="geoback">
    <h1 class="display-4">Tú ubicación</h1>
    <p class="lead">Ubicación del usuario</p>
    <hr class="my-4" style="background:rgb(150, 192, 255);">
    <p>Las coordenadas de tu ubicación son: </p>
    <!--  Mostrar Mapa leaflet 21.15756, -100.93452-->
    <label>Latitud: </label>
    <input id="lat"/>
    <label>Longitud: </label>
    <input id="long"/><br><br>

    <div id="mapid" style="height: 600px;"></div>
  </div>
  <br>
  <br>
  <%- include('../partials/script'); %>
  <%- include('../partials/footer'); %>
  <script>
    window.addEventListener("load", inicio);
    var observador;
    function inicio(){
      //navigator.geolocation.getCurrentPosition(alExito, alError);
      observador = navigator.geolocation.watchPosition(alExito, alError);
    }
    function alExito(info){
      lat.value = info.coords.latitude;
      long.value = info.coords.longitude;

    }
    function alError(error){
      aler("Hubo un error");

    }
    function detener(){
      navigator.geolocation.clearWatch(observador);
    }
  </script>
  <script>
    //Cargar coordenadas Mapa leaflet
var latitude = document.getElementById('lat').value;
var longitude = document.getElementById('long').value;
var mymap = L.map('mapid').setView([21.15756, -100.93452], 13);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=sk.eyJ1Ijoic2FuZHJhZ3VheTMxIiwiYSI6ImNrZ3VqN2d4eDA0Z3EydG44cXlwbDRkYWYifQ.AQ6DW4KKlteosEK9D8borA', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
  }).addTo(mymap);

  </script>

</body>


</html>